
/* couleur primaire => Noir*/ 
$cpblack: #000000;

/* couleur secondaire => Verte*/ 
$csgreen: #4BA87D;

/* couleur tertiaire => Blanc*/ 
$ctwhite:#FFFFFF;

/* Partie Navi*/ 
/* couleur "nav" */ 
$cpnfont: #000000;

/* Partie Polices*/ 
/* Polices des "titres"*/ 
$ftitre: 'Playfair Display', sans-serif;

/* Police des "logos"*/ 
$flogo:'Raleway', sans-serif;

/* Police du "nav" */ 
$fnav:'Raleway', sans-serif;

/* Police des paragraphe*/ 
$fpara:'Raleway', sans-serif;

/* Police des boutons*/ 
$fbut:'Raleway', sans-serif;

/* Police des Noms*/ 
$fname:'Raleway', sans-serif;

/* Police des from*/ 
$ffrom:'Raleway', sans-serif;

/* Police des footer*/ 
$fffooter:'Raleway', sans-serif;

/* Box_shadow */ 
$bsphoto_two: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$bsphoto_one: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

/* Text Shadow*/ 
$ts:3px 5px 2px #474747;

